body, html, form, .wrap {
    height: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrap {
    background-color: #146e71;
    border: 0 none;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    justify-content: center;
    top: 0;
    transition: all 450ms;
    z-index: 1;
}
.wrap:nth-child(2) {
    background-color: #2c0977;
    z-index: 2;
}
.wrap:nth-child(3) {
    background-color: #094377;
    z-index: 3;
}

.wrap.invisible {
    opacity: 0;
    visibility: hidden;
}

.wrap.visible {
    opacity: 1;
    visibility: visible;
}

.wrap > * {
    box-sizing: border-box;
    width: 60%;
}

button {
    background-color: #d7bb4e;
    border: 0 none;
    border-bottom: 7px solid #9b8323;
    border-radius: 20px;
    box-shadow: 0 4px 7px rgba(0,0,0,0.6);
    color: #a47d33;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1em;
    margin-top: 1em;
    padding: 10px;
    position: relative;
    transition: all 100ms;
    top: 0;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #eedbb7;
    width: 30% !important;
}
button:hover {
    border-bottom-width: 9px;
    top: -3px;
}
button:active, button:focus {
    border-bottom-width: 1px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    outline: none 0;
    top: 6px;
}
button[disabled="true"],
button[disabled="true"]:hover,
button[disabled="true"]:active  {
    background-color:#acacac;
    border-bottom:7px solid #737373;
    color:#888;
    cursor: default;
    position: static !important;
}

input {
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    font-size: 16px;
    height: 40px;
    padding: 10px 20px;
}
input.mal {
    border-color: red;
    box-shadow: 2px 2px 10px #ff00005c;
}
input.bien {
    border-color: turquoise;
    box-shadow: 2px 2px 10px #40e0d05c;
}
input[type="color"] {
    width: 90px;
}
input:focus {
    outline: none;
}

label {
    font-size: 30px;
    line-height: 2;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    user-select: none;
}


/* Modal */

.aviso {
    align-items: center;
    background-color: #0f5320f2;
    color: white;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top:0;
    transition: all 300ms;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}

.aviso.visible {
    opacity: 1;
    visibility: visible;
}

.aviso h2 {
    text-align: center;
}

.aviso p[onclick] {
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
}

table {
    border: 1 solid rgba(0,0,0,0.3);
    border-collapse: collapse;
    margin: 2em auto;
    width: 80%;
}
table tr {
    border: 1 solid rgba(0,0,0,0.1);
}
table td {
    border: 0;
    padding: 10px;
}

table thead {
    background-color: rgba(0,0,0,0.3);
}

table span {
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 5px;
    display:block;
    height: 1.3em;
    margin: 0 auto;
    width: 1.3em;
}